@mixin step-bar-line($width) {
  position: absolute;
  width: $width;
  height: 1px;
  background-color: #000;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.d-step-card {
  --w: 300px;
  --h: 220px;
  width: var(--w);
  height: var(--h);
  padding: 5px;
  border: dashed 1px #999;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 2px #999, inset 0px 0px 2px 1px #999;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  .step-bar {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
    box-sizing: border-box;
    &::before {
      content: "";
      @include step-bar-line(100%);
      z-index: 0;
    }
    .item {
      z-index: 1;
      position: relative;
      flex: 1;
      border: solid 1px #999;
      border-radius: 5px;
      padding: 5px;
      box-sizing: border-box;
      background-color: #fff;
      cursor: pointer;
      transform: scale(0.9);
      &:hover,
      &.process,
      &.finish {
        transform: scale(1);
      }
      &.waiting {
        background-color: #eee;
      }
    }
  }
  .step-main {
    position: relative;
    height: calc(100% - 50px);
    box-shadow: 0px 0px 1px 1px #999;
    border-radius: 5px;
    overflow: hidden;

    .d-step-card-item {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 5px 5px 50px 5px;
      box-sizing: border-box;
      background-color: #cccccc33;
      .step-mask {
        z-index: 1;
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #cccccc99;
      }
      &.waiting {
        .step-mask {
          display: block;
        }
      }
      &.finish {
        .step-content {
          filter: opacity(0.6);
          * {
            pointer-events: none;
          }
        }
      }
      .step-title {
        height: 30px;
      }

      .step-content {
        height: calc(100% - 50px);
        overflow: auto;
      }
      .step-footer {
        height: 50px;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
      }
    }
  }
}
.d-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  .loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
